body {
    background-color: antiquewhite;
}

header {
    height: 5vh;
    width: 98vw;
    display: flex;
    align-items: center;
    background-color: rgba(128, 173, 240, 0.397);
}

h1 {
    text-align: center;
}

p {
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

.button {
    width: 10vw;
    text-align: center;
}

.button:hover {
    font-weight: bold;
}

.goal {
    width: 98vw;
    height: 10vh;
}

.progressBar {
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: black 2px solid;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

#csProgress {
    width: 62%;
    background-color: rgba(21, 0, 214, 0.589);
}

#iosProgress {
    width: 10%;
    background-color: rgba(21, 0, 214, 0.589);
}

#navSpacer {
    width: 40vw;
}

#me {
    width: 40vw;
    clip-path: circle(40% at 51% 35%);
    float: right;
}