a {
    cursor: default;
    text-decoration: none;
    color: rgba(4, 37, 66, 0.9);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    color: rgba(4, 37, 66);
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
}

footer {
    bottom: 0;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(4, 37, 66, 0.9);
    color:rgb(255, 255, 255);
    z-index: 10;
}

header {
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 37, 66, 0.9);
    z-index: 10;
}

h1 {
    padding-top: 8vh;
    text-align: center;
    font-size: 3em;
    scroll-snap-align: start;
}

p {
    margin:auto;
    font-family: Arial;
    text-align: justify;
    font-size: 2em;
    font-weight: bold;
}

footer>p {
    width: auto;
}

header>a {
    display: flex;
    width: 10%;
    height: 100%;
    font-size: larger;
    font-family: Arial;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    cursor: default;
}

header>a:hover {
    text-shadow: 0 0 5px white;
}

.content-container {
    width: 80%;
}

.goal {
    width: 50%;
    height: 10vh;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.goal>p {
    text-align: center;
    width: 100%;
}

.icon {
    width: 6vh;
    border-radius: 100px;
    background-color: white;
    box-shadow: 0 0 10px 5px white;
}

.pageSpacer {
    height: 90vh;
}

.progressBar {
    width: 80%;
    height: 10%;
    border-radius: 10px;
    border: rgba(4, 37, 66) 2px solid;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.spacer {
    height: 10vh;
}

#csProgress {
    width: 83%;
    background-color: rgba(92,118,153,255);
}

#goal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#hamburger {
    display: none;
}

#icon-box {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 10vh;
    right: 40vw;
}

#iosProgress {
    width: 10%;
    background-color: rgba(92,118,153,255);
}

#me {
    width: 49vh;
    float: left;
    clip-path: circle(45%);
    shape-outside: circle(50%);
}

#me-container {
    margin: -7vh;
}

#me-paragraph {
    padding-top: 10vh;
    padding-bottom: 8vh;
}

#mobile-nav-spacer {
    display: none;
}

#quote-line1 {
    position:absolute;
    top: 70vh;
    left: 20vw;
    color: white;
    text-shadow: black 2px 2px 3px;
}

#quote-line2 {
    position:absolute;
    top: 75vh;
    left: 45vw;
    color: white;
    text-shadow: black 2px 2px 3px;
}

#quote-line3 {
    position:absolute;
    top: 80vh;
    left: 65vw;
    color: white;
    text-shadow: black 2px 2px 3px;
}

#home {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
}

@media (orientation: portrait) {

    h1 {
        font-size: 2em;
        text-align: left;
    }

    header {
        flex-direction: row;
        flex-wrap:wrap;
        justify-content:space-around;
        display: none;
        height:fit-content;
        align-items:center;
        text-align: center;
    }

    header>a {
        height: 10vh;
        width: 33%;
    }

    .goal {
        width: 100%;
    }

    .icon {
        width: 6vh;
        border-radius: 100px;
        background-color: white;
        box-shadow: 3px 3px 0px 2px black;
    }

    #hamburger {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        top: 30px;
        right: 35px;
        width: 3vh;
        height: 3vh;
        background-color: white;
        border: white 2px solid;
        border-radius: 2px;
        box-shadow: 3px 3px 0px 2px black;
    }

    #hamburger:hover > header {
        display: block;
    }

    #icon-box {
        height: 30vh;
        width: 4vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 15vh;
        right: 5vh;
    }

    #me {
        width: 25vh;
        float: left;
        clip-path: circle(45%);
        shape-outside: circle(50%);
    }

    #me-container {
        margin: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #me-paragraph {
        padding-top: 4vh;
        text-align: center;
    }

    #quote-line1 {
        position:absolute;
        top: 70vh;
        left: 5vw;
        color: white;
        text-shadow: black 2px 2px 3px;
        font-size: large;
    }

    #quote-line2 {
        position:absolute;
        top: 75vh;
        left: 10vw;
        color: white;
        text-shadow: black 2px 2px 3px;
    }

    #quote-line3 {
        position:absolute;
        top: 81vh;
        left: 40vw;
        color: white;
        text-shadow: black 2px 2px 3px;
        font-size: large;
    }

    .hamburger-lines {
        background-color: rgba(4, 37, 66, 0.9);
        width: 100%;
        height: 16%;
        border-radius: 120px;
    }

    p {
        font-size: 1.5em;
        text-align:left;
    }

}
