body {
    background-color: antiquewhite;
    color: rgba(92,118,153,255);

}

header {
    position: fixed;
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(92,118,153,255);
    z-index: 10;
}

h1 {
    padding: 8vh;
    text-align: center;
}

p {
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: antiquewhite;
}

.button {
    width: 10vw;
    text-align: center;
}

.button:hover {
    font-weight: bold;
}

.goal {
    width: 100%;
    height: 10vh;
}

.pageSpacer {
    height: 80vh;
}

.progressBar {
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: black 2px solid;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

#csProgress {
    width: 62%;
    background-color: rgba(92,118,153,255);
}

#iosProgress {
    width: 10%;
    background-color: rgba(92,118,153,255);
}

#navSpacer {
    width: 40vw;
}

#me {
    width: 40vh;
    clip-path: circle(40% at 51% 35%);
    float: right;
}

#mountains {
    padding-top: 10vh;
    width: 100%;
    clip-path: polygon(0 0, 70% 10%, 100% 100%, 20% 90%);
}