body {
    background-color: antiquewhite;
    color: rgba(4, 37, 66);
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

footer {
    bottom: 0;
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(4, 37, 66, 0.9);
    color:rgb(255, 255, 255);
    z-index: 10;
}

header {
    position: fixed;
    top: 0;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 37, 66, 0.9);
    z-index: 10;
}

h1 {
    padding-top: 8vh;
    text-align: center;
    font-size: 3em;
}

p {
    margin:auto;
    width: 80vw;
    font-family: Arial;
    text-align: justify;
    font-size: 2em;
    font-weight: bold;
}

footer>p {
    width: auto;
}

a {
    text-decoration: none;
    color: rgba(4, 37, 66, 0.9);
}

header>a {
    display: flex;
    width: 10vw;
    height: 100%;
    font-size: larger;
    font-family: Arial;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    cursor: default;
}

header>a:hoverw {
    text-shadow: 0 0 5px white;
}

.navSpacer {
    width: 5vw;
}

.goal {
    width: 100%;
    height: 10vh;
}

.pageSpacer {
    height: 90vh;
}

.progressBar {
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: rgba(4, 37, 66) 2px solid;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.spacer {
    height: 10vh;
}

#csProgress {
    width: 83%;
    background-color: rgba(92,118,153,255);
}

#iosProgress {
    width: 10%;
    background-color: rgba(92,118,153,255);
}

#me {
    margin-left: 5vw;
    width: 40vh;
    float: left;
    clip-path: circle(33% at 51% 32%);
    shape-outside: circle(35% at 63% 32%);
}

#home {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
}
