body {
    background-color: antiquewhite;
    color: rgba(4, 37, 66);
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    position: fixed;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(4, 37, 66, 0.9);
    z-index: 10;
}

h1 {
    padding-top: 8vh;
    text-align: center;
}

p {
    font-size: large;
    font-style: italic;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgba(92,118,153,255);
    cursor: default;
}

.button {
    width: 10vw;
    height: 100%;
    font-size: larger;
    font-family: Arial;
    text-align: center;
    color:rgb(255, 255, 255);
}

.button:hover {
    text-shadow: 0 0 5px white;
}

.navSpacer {
    width: 5vw;
}

.goal {
    width: 100%;
    height: 10vh;
}

.pageSpacer {
    height: 90vh;
}

.progressBar {
    width: 40%;
    height: 10%;
    border-radius: 10px;
    border: rgba(4, 37, 66) 2px solid;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

#homeSpacer {
    height: 10vh;
}

#home {
    margin-top: -10vh;
    color: rgba(4, 37, 66);
}

#csProgress {
    width: 83%;
    background-color: rgba(92,118,153,255);
}

#iosProgress {
    width: 10%;
    background-color: rgba(92,118,153,255);
}

#me {
    margin-right: 10vw;
    width: 40vh;
    float: right;
    clip-path: circle(40% at 51% 35%);
}

#mountains {
    z-index: -1;
    position: absolute;
    height: 100vh;
}